@import url(http://fonts.googleapis.com/css?family=Lato:300);

*:not( input ) {
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

body {
    font-family: 'Noto Sans Japanese', sans-serif;
    font-weight: 300;

    overflow: hidden;

    animation: fade .6s ease forwards;
}

main {
    width: calc( 100% - 32px );
    height: calc( 100vh - 32px );
    padding: 16px;

    background: linear-gradient( 45deg, #e1dafb, #c9dcf8 );

    overflow-x: hidden;
    overflow-y: scroll; 
    -webkit-overflow-scrolling: touch;
}
.back {
    position: relative;
    opacity: 0;

    width: 100%;
    height: 45vw;
    margin-top: 20vw;

    background: rgba( 255, 255, 255, .75 );
    border-radius: 4px;
    box-shadow: 0px 8px 32px rgba( 0, 0, 0, .1 );
    animation: up .6s ease .2s forwards;
}
.back p {
    position: absolute;

    width: calc( 70% - 48px );
    margin: 16px calc( 30% + 32px );

    color: #485664;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.back nav {
    display: flex;
    justify-content: space-between;
    position: absolute;

    width: calc( 70% - 58px );
    margin: 16px calc( 30% + 32px );

    font-family: 'Lato', 'Noto Sans Japanese', sans-serif;
}
.back nav .num, .back nav .rate {
    margin-top: 32px;
}
.back nav p {
    width: 100%;
    position: relative;
    margin: 0;
}
.back nav p:nth-child(2),
.back nav p:nth-child(4) {
    font-size: 28px;
    text-align: center;
}
.back nav p:nth-child(3) {
    text-align: right;
}

.cover {
    position: relative;
    opacity: 0;

    width: 30%;
    height: 40vw;
    margin: -50vw 16px 80px;

    border-radius: 4px;
    box-shadow: 0 4px 12px rgba( 0,0,0,.2 );
    animation: up .6s ease .4s forwards;
}
.cover:last-child {
    margin-bottom: 64px;
}

section {
    position: absolute;
    opacity: 0;

    top: 0;
    width: 100%;
    height: 100vh;

    background: rgba( 255, 255, 255, .3 );
    
    overflow-x: hidden;
    transform: translateX( -100% );
    -webkit-backdrop-filter: blur( 10px );
}
.open {
    animation: slide .6s ease forwards;
}
.close {
    animation: reSlide .4s ease-in forwards;
}

header {
    position: relative;
    z-index: 2;

    background: rgba( 255, 255, 255, .5 );
    box-shadow: 0 4px 32px rgba( 0,0,0,.2 );
}
.property {
    display: flex;
    flex-direction: row;
    position: relative;

    width: 100%;
    height: 135px;
}
.property #cover {
    width: 72px;
    height: 104px;
    margin: 16px;

    border-radius: 4px;
    box-shadow: none;
}
.property .title {
    padding: 16px 0;

    font-family: 'Lato', 'Noto Sans Japanese', sans-serif;
    color: #485664;
}
.title #name {
    flex-shrink: 0;

    width: 100%;
    margin-bottom: 4px;

    font-size: 14px;
}
.title nav {
    display: flex;
    justify-content: space-between;
}
.num, .rate {
    position: relative;

    width: 100%;
    height: 78px;
}
.num {
    padding-right: 16px;
    margin-right: 16px;

    border-right: 1px solid #d9d7e2;
}
.num p:nth-child(1), .rate p:nth-child(1) {
    color: #84828c;
    font-size: 12px;
}
.num p:nth-child(2), .rate p:nth-child(2) {
    color: #6ad9c3;
    font-size: 32px;
}
.num p:nth-child(3) {
    position: absolute;
    right: 16px;

    color: #9e9aa5;
}
.rate p:nth-child(3) {
    position: absolute;
    right: 0;
    color: #9e9aa5;
}

.list {
    width: calc( 100% - 32px );
    padding: 0 16px;

    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.list p {
    padding: 16px 64px 16px 16px;
    
    color: #485664;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.list span {
    position: absolute;

    right: 32px;

    color: #888;
}

.list-wrap {
    position: relative;

    margin: 16px 0;
    padding: 0 16px;

    font-size: 14px;
    line-height: 1.5em;
    border-radius: 8px;
    background: rgba( 255, 255, 255, .7 );
}

.sel {
    margin: 16px auto;
    padding: 0 16px 16px;

    text-align: center;
    border-radius: 4px;
}

.con {
    display: grid;

    padding:16px;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.con select {
    margin: 0;
}
.con p {
    padding: 0 !important;
}
.big1 {
    grid-column: 1 / 3;
    grid-row: 1;
}
.big2 {
    grid-column: 1 / 3;
    grid-row: 3;
}

.l {
    position: absolute;
    z-index: 2;

    width: calc( 100% - 64px);
    
    background: #fff;
    box-shadow: 0 8px 32px rgba( 0,0,0,.2 );
    transition: all .6s ease;
}
.h {
    height: calc( 100vh - 135px );
}

#list1, #list2 {
    opacity: 0;
    transform: translateX( -100% );
}

footer {
    position: absolute;

    bottom: 0;
    width: 100%;

    background: rgba( 255, 255, 255, .75 );
    box-shadow: 0 -4px 32px rgba( 0,0,0,.2 );
}
.start {
    padding: 8px;
    margin: 8px;

    color: #fff;
    text-align: center;
    border-radius: 4px;
    background: #27cffe;
}

.question {
    position: relative;

    width: 100%;

    background: rgba( 255, 255, 255, .75 );
}
.question div {
    padding: 16px;

    color: #2196f3;
}
.question div:nth-child(2) {
    position: absolute;

    top: 0;
    right: 0;
}
#btn {
    position: absolute;

    top: 0;
    right: 0;
}
.bar {
    position: absolute;
    opacity: 0;

    top: 0;
    height: 2px;
    width: 100%;
    padding: 0;

    background: #2196f3;

    animation: count linear;
    animation-play-state: paused;
}
.prev .bar {
    animation: none;
}
#title, #title1, #title2 {
    position: absolute;
    
    top: 0;
    left: 50%;
    width: calc( 100% - 200px);
    margin: 16px 0;

    color: #485664;

    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;

    transform: translateX(-50%);
}

select, input {
    width: 100%;
    height: 36px;

    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 4px 8px;
    margin: 16px 0;
    outline: none;

    -webkit-appearance: none;
    appearance: none;

    transition: all .3s ease;
}
input {
    width: 50%;
    height: 26px;
}
.float {
    display: flex;
    flex-direction: row;
}
.float p {
    padding: 24px 16px 16px;
    border: none;
}
select:focus, input:focus {
    box-shadow: 0 2px 12px rgba(0,0,0,.2);
}

a, a:link, a:visited {
    margin-bottom: 12px;
    color: #2196f3;
    text-decoration: none;
}

.wide {
    top: 57px;
    height: calc( 100% - 57px );

    transform: translateX( -100% );
    -webkit-overflow-scrolling: touch;
}
#cnt1, #cnt2 {
    position: absolute;

    left: 0;

    color: #888;
    border: 0;
}
#quest1, #quest2 {
    padding: 64px 0;

    font-family: 'Lato', 'Noto Sans Japanese', sans-serif;
    font-size: 40px;
    color: #485664;
    border: none;

    text-align: center;
}
#check1, #check2 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 16px;
    right: 16px;
    border: 1px solid #888;
    border-radius: 4px;
}
#mark1, #mark2 {
    opacity: 0;
}
#checked1:checked ~ #check1 #mark1,
#checked2:checked ~ #check2 #mark2 {
    animation: checkmark .4s ease-in-out .2s forwards;
}
#status1, #status2 {
    position: absolute;

    left: 50%;
    bottom: 0;
    padding: 8px;

    color: #fff;
    border: none;
    transform: translateX( -50% );
}
#crtans1, #crtans2 {
    position: relative;
    opacity: 0;

    padding: 16px;
    margin-top: 165px;
    text-align: center;
    white-space: pre-line;
}

.text {
    position: relative;
    width: calc( 100vw - 64px );
}
.text input {
    display: block;

    width: calc( 100vw - 128px );
    margin: 52px auto;
    padding: 9px;

    color: #222;
    font-size: 18px;
    font-family: 'Lato', 'Noto Sans Japanese', sans-serif;
    text-align: center;

    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
    background-color: transparent;
}

.text input:focus {
    outline: none;
    box-shadow: none;
}

.barr {
    position: relative;

    display: block;
    
    top: 46px;
    left: 50%;
    width: calc( 100% - 46px );

    transform: translateX(-50%);
}

.barr:before,
.barr:after {
    position: absolute;

    bottom: 1px;
    width: 0;
    height: 2px;

    content: '';
    background: #03a9f4;

    transition: .4s ease all;
}

.barr:before {
    left: 50%;
}

.barr:after {
    right: 50%;
}

.text input:focus ~ .barr:before,
.text input:focus ~ .barr:after {
    width: 50%;
}

#answer1, #answer2 {
    position: absolute;

    bottom: 0;
    width: 100%;
    overflow: hidden;
}
#answer1 p, #answer2 p {
    width: calc( 100% - 32px );
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 14px;
    color: #485664;
    padding: 18px 16px;
    border-top: 1px solid #d9d7e2;
}

#listre p {
    padding: 16px 32px 16px 16px;
    white-space: nowrap;
}
#listre span {
    position: absolute;

    right: 32px;

    line-height: 0px;
}

.next {
    animation: next 1s ease forwards;
}
.prev {
    animation: prev .6s ease forwards;
}
.show {
    animation: correct .4s ease forwards;
}
.shake {
    animation: shake 1s ease-in-out forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes down {
    from {
        transform: translateY( -72px );
    }
    to {
        opacity: 1;
        transform: translateY( 0 );
    }
}
@keyframes up {
    from {
        transform: translateY( 72px );
    }
    to {
        opacity: 1;
        transform: translateY( 0 );
    }
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX( 100% );
        -webkit-backdrop-filter: blur( 10px );
    }
    1% {
        width: 100%;
    }
    100% {
        opacity: 1;
        transform: translateX( 0 );
        -webkit-backdrop-filter: blur( 10px );
    }
}
@keyframes reSlide {
    0% {
        opacity: 1;
        transform: translateX( 0 );
    }
    99% {
        width: 100%;
    }
    100% {
        opacity: 0;
        transform: translateX( 100% );
        width: 0px;
    }
}
@keyframes checkmark {
    from {
        stroke-dashoffset: 50px;
        opacity: 1;
    }
    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}
@keyframes next {
    0% {
        opacity: 0;
        transform: translateX( 100% );
    }
    70% {
        opacity: 1;
        transform: translateX( 0 );
    }
    100% {
        opacity: 1;
        transform: translateX( 0 );
    }
}
@keyframes prev {
    from {
        opacity: 1;
        transform: translateX( 0 );
    }
    100% {
        opacity: 0;
        transform: translateX( -100% );
    }
}
@keyframes count {
    0% {
        width: 100%;
        background: #03a9f4;
    }
    70% {
        background: #03a9f4;
    }
    80% {
        background: #f44336;
    }
    100% {
        width: 0%;
        background: #f44336;
    }
}
@keyframes correct {
    from {
        transform: translateY( -32px );
    }
    to {
        opacity: 1;
        transform: translateY( 0 );
    }
}
@keyframes shake {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    6.5% {
        transform: translateX(-6px);
    }
    16.5% {
        transform: translateX(5px);
    }
    31.5% {
        transform: translateX(-3px);
    }
    43.5% {
        transform: translateX(2px);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX( 0 );
    }
}